body {
font-family: Arial, sans-serif;
background:#f7f7f7;
}

.hero {
height:80vh;
display:flex;
align-items:center;
justify-content:center;
color:white;
text-align:center;
}

.overlay {
background:rgba(0,0,0,0.6);
padding:50px;
border-radius:15px;
}

.product img {
width:100%;
height:250px;
object-fit:cover;
border-radius:10px;
}

.product {
background:white;
padding:15px;
border-radius:10px;
margin-bottom:30px;
box-shadow:0 0 15px rgba(0,0,0,0.1);
}

.btn-primary {
background:#2ecc71;
border:none;
}
